<div class="container">
<div class="row">
  <div class= "col-md-12">
 
    <%= form_for @intention do |f| %>
      <div class="row">
        <div class="col-md-5">
         <div class= "form-background">
          <h2 class="text-center box-title-h2 ">Intencje</h2>
          <div class="form-group ">
          <center>
          <%= f.label :intentionPhoto, "Dodaj PDF" %>
          <%= f.file_field :intentionPhoto %>
          <%= f.submit 'Wprowadź zmiany', class: "col-md-4 btn btn-info intentions-edit-button"%> 
            <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
          <cneter>
          </div>
        </div>
  
    <% end %>  
  </div>
</div>
</div>
