<% if @post.errors.any? %>
<h2>You have to corret some fields</h2>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <% end %>
</ul>
<% end %>
  <div class="row">
    <div class="col-md-12">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <div class="control-label offset-md-1 col-md-10">
            <%= f.label :title, "Tytuł:" %>
          </div>
          <div class="offset-md-1 col-md-10">
            <%= f.text_field :title, class: "form-control", placeholder: "Wprowadź tytuł postu..", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label offset-md-1 col-md-10">
            <%= f.label :description, "Opis:" %>
          </div>
          <div class="offset-md-1 col-md-10">
            <%= f.text_area :description, class: "form-control", placeholder: "Wprowadź opis postu.." %>
          </div>
          <% @post.photos.each do |photo| %>
            <%= image_tag(photo, class: "col-md-4") %>
         <% end %>
          <br>
        </div>
         <div class="form-group">
           <%= f.label :photos %>
           <%= f.file_field :photos, multiple: true %>
        </div>
    </div> 

  </div>
   
     <%= f.submit(@post.new_record? ? "Dodaj post" : "Edytuj post", class: "col-md-4 btn btn-info")%> <br>
      <% end %>
  <div class="row">
      <%= link_to 'Lista postów', posts_path, class: "btn-edit-post btn btn-secondary" %>
  </div>
 