<% if @post.errors.any? %>
<h2>You have to corret some fields</h2>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <% end %>
</ul>
<% end %>
    <div class="form-background">
  <div class="row">
    <div class="col-md-12">

      <%= form_for @post do |f| %>
        <div class="form-group">
          <div class="offset-md-1 col-md-10">
            <%= f.text_field :title, class: "form-control", placeholder: "Wprowadź tytuł postu..", autofocus: true, class: "title-post"%>
          </div>
        </div>
        <div class="form-group">
          <div class="offset-md-1 col-md-10">
            <%= f.trix_editor :description %>
          </div>
          <% @post.photos.each do |photo| %>
            <%= image_tag(photo, class: "col-md-4") %>
            <%= link_to 'Remove', delete_image_attachment_post_path(photo.id), method: :delete,
                  data: { confirm: 'Are you sure?' }%>
         <% end %>
          <br>
        </div>
         <div class="form-group">
           <%= f.label :photos, "Dodaj zdjęcia"  %>
           <%= f.file_field :photos, multiple: true %>
        </div>
        <div class="form-group">
          <%= f.label :file, "Dodaj PDF" %>
          <%= f.file_field :file %>
        </div> 
    </div> 
  

  </div>
   
     <%= f.submit(@post.new_record? ? "Dodaj post" : "Edytuj post", class: "col-md-4 btn btn-info")%> <br>
      <% end %>
  <div class="row">
      <%= link_to 'Lista postów', posts_path, class: "btn-edit-post btn btn-secondary" %>
  </div>
   </div> 