<div class="container">
  <div class="offset-md-2 col-md-8 text-center">
    <h1 class="jumbotron" >Lista Twoich postów </h1>
      <%= link_to 'Dodaj nowy post', new_post_path, :class=>"btn btn-info"   %> 
    <br>
    <% @posts.each do |post| %>
      <br>
      <h3 ><%= post.title %></h3>
      <p ><%= post.description %></p>
      <span ><%=time_ago_in_words(post.created_at)%> ago </span><br>
      <%= link_to 'Edytuj', edit_post_path(post), :class=>"btn btn-success" %>
      <%= link_to 'Usuń', post_path(post), method: :delete, data: {confirm: "Are you sure?"}, :class=>"btn btn-danger" %>
      <br>
    <% end %>
  </div>
</div>