<% if logged_in? %>
<%= render 'pages/navbar' %>
<div class="adminPage">
<div class="container-fluid">

  <div class="offset-md-2 col-md-8 text-center">
    <h1 class="h1-header">Lista Twoich postów </h1>
      <%= link_to 'Dodaj post', new_post_path, class:"admin-panel-button"  %> 
    
    <div class="d-flex justify-content-center paginate-all">
    <div class="form-background-paginate">
    <%= will_paginate %>
    </div> 
    </div> 
    <% @posts.each do |post| %>
      <br>
      <div class="form-background">
      <h3 class="box-title-h2"><%= post.title %></h3>
      <p ><%= post.description.html_safe %></p>
       <% post.photos.each do |photo| %>
            <%= image_tag(photo, class: "col-md-4") %>
          <% end %>
          <% if post.file.attached? %>
            <%= link_to post.file, url_for(post.file), target: '_blank' %>
          <% end %>
      <br>
      <span ><%=time_ago_in_words(post.created_at)%> ago </span><br>
      <%= link_to 'Edytuj', edit_post_path(post), :class=>"btn btn-success" %>
      <%= link_to 'Usuń', post_path(post), method: :delete, data: {confirm: "Are you sure?"}, :class=>"btn btn-danger" %>
      <%= link_to 'Wyświetl', post_path(post), class: "btn btn-info " %>
      </div>
      <br>
    <% end %>
        <div class="d-flex justify-content-center paginate-all">
    <div class="form-background-paginate">
      <%= will_paginate @clients, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </div> 
    </div> 
  </div>

</div>
</div>
  <% else %>
    PAGE NOT FOUND
  <% end %>