<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <title>ParafiaKielczyglow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', :async => true %>
    <%= stylesheet_link_tag    'application', media: 'all', :async => true %>
    <meta async name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= yield %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 
  </body>
</html>
