<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <title>Parafia Kiełczygłów</title>
    <link rel="icon" type="image/jpg" href="/assets/avatar.JPG">
	  <meta name="description" content="Strona poświęcona Parafii Kiełczygłów." />
	  <meta name="keywords" content="Parafia-Kielczyglow, Parafia-Kielczygłów, Kiełczygłów, parafia, intencje, cmentarz, msze święte, godziny mszy swiętych" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', async: Rails.env.production? %>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <link href="https://fonts.googleapis.com/css?family=Allura&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%= yield %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 
  </body>
</html>
